<!--<p-toast></p-toast>-->
<div class="container">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
        <div class="ui-g">

            <div class="ui-g-12 ui-md-9 ui-fluid">

              <div class="ui-g-12">
                <h1>{{editando?'Ediçao ': 'Cadastro'}} de departamentos</h1>
              </div>

              <div class="ui-g-12 ui-md-9 ui-fluid">
              <label>Nome do Departamento:</label>
              <input pInputText type="text" name="nomedep"
                [(ngModel)]="departamento.nomedep"
                #nome="ngModel" required minlength="3">

                <div *ngIf="nome.hasError('required')"  class="ui error message"><b style="color:red;">Informe um nome para o departamento</b></div>
                <!--<div *ngIf="nome.hasError('required') && nome.touched">Informe um nome</div>-->
              </div>

              <div class="ui-g-12 ui-md-9 ui-fluid">
                <label>Nome do Gerente do Departamento:</label>
                <input pInputText type="text" name="nomeger"
                [(ngModel)]="departamento.nomeger"
                #nome="ngModel" required minlength="3">

                <div *ngIf="nome.hasError('required') && nome.touched">Informe um nome para o gerente</div>
              </div>

              <div class="ui-g-12 ui-md-9 ui-fluid">
                <label>Empresa:</label>
              <p-dropdown [options]="empresas"
                [(ngModel)]="departamento.empresa.id" placeholder="Selecione uma empresa"
                name="empresa" [filter]="true">
              </p-dropdown>
              </div>

            </div>

            <div class="ui-g-12">
                <button pButton type="submit" label="Salvar" class=" boxButton"></button>
                <button pButton type="submit" label="Ir para tabela de Departamentos" class=" boxButton" routerLink="/departamentos/table"></button>
            </div>

        </div>
    </form>
</div>
