<!--<p-toast></p-toast>-->
<div class="container">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
        <div class="ui-g">

            <div class="ui-g-12 ui-md-9 ui-fluid">

              <div class="ui-g-12">
                <h1>{{editando?'Ediçao ': 'Cadastro'}} de departamentos</h1>
              </div>

              <div class="ui-g-12 ui-md-9 ui-fluid">
              <label>Nome do Departamento:</label>
              <input pInputText type="text" name="nomedep"
                [(ngModel)]="departamento.nomedep"
                #nome="ngModel" required minlength="3">


                <div *ngIf="nome.hasError('required') && nome.touched">Informe um nome</div>
                <div *ngIf="nome.hasError('minlength')">O nome deve ter no mínimo 3 caractares</div>
              </div>

              <div class="ui-g-12 ui-md-9 ui-fluid">
                <label>Nome do Gerente do Departamento:</label>
                <input pInputText type="text" name="nomeger"
                [(ngModel)]="departamento.nomeger"
                #nome="ngModel" required minlength="3">

                <div *ngIf="nome.hasError('required') && nome.touched">Informe um nome</div>
                <div *ngIf="nome.hasError('minlength')">O nome deve ter no mínimo 3 caractares</div>
              </div>

              <div class="ui-g-12 ui-md-9 ui-fluid">
                <label>Empresa:</label>
              <p-dropdown [options]="empresas"
                [(ngModel)]="departamento.empresa.id" placeholder="Selecione um departamento"
                name="empresa" [filter]="true">
              </p-dropdown>
              </div>

            </div>

            <div class="ui-g-12">
                <button pButton type="submit" label="Salvar" class=" boxButton"></button>
            </div>

        </div>
    </form>
</div>
