<!--<p-toast></p-toast>-->

<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
      <div class="ui-g">

        <div class="ui-g-12">
          <h1>{{editando?'Ediçao ': 'Cadastro'}} de Vagas de Trabalho</h1>
        </div>

          <div class="ui-g-12 ui-md-9 ui-fluid">

            <div class="ui-g-12 ui-md-9 ui-fluid">
              <label>Empresa:</label>
            <p-dropdown [options]="empresas"
              [(ngModel)]="vgtrabalho.empresa.id" placeholder="Selecione uma empresa"
              name="empresa" [filter]="true">
            </p-dropdown>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
            <label>Departamento:</label>
            <p-dropdown [options]="departamentos"
              [(ngModel)]="vgtrabalho.departamento.id" placeholder="Selecione um departamento"
              name="departamento" [filter]="true">
            </p-dropdown>
            </div>


            <div class="ui-g-12 ui-md-9 ui-fluid">
              <label>Nome do Cargo:</label>
              <input pInputText type="text" name="nomedcargo"
              [(ngModel)]="vgtrabalho.nomedcargo"
              #nome="ngModel">
              <div *ngIf="nome.hasError('required') && nome.touched">Informe um nome para o cargo</div>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
              <label>Salário:</label>
              <input pInputText type="text" name="salario"
              [(ngModel)]="vgtrabalho.salario"
              #nome="ngModel" required n>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
              <label>Nível de escolaridade:</label>
              <p-dropdown [options]="nivelesc" [(ngModel)]="vgtrabalho.nivelesc" name="nivelesc" placeholder="Selecione um nível de escolaridade"></p-dropdown>
            </div>



          </div>

          <div class="ui-g-12">
              <button pButton type="submit" label="Salvar" class=" boxButton"></button>

              <button pButton type="submit" label="Ir para Vagas de trabalho" class=" boxButton" routerLink="/vgtrabalho/table"></button>
          </div>

      </div>
  </form>
</div>
