<!--<p-toast></p-toast>-->

<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
      <div class="ui-g">

        <div class="ui-g-12">
          <h1>{{editando?'Ediçao ': 'Cadastro'}} de empresas</h1>
        </div>

          <div class="ui-g-12 ui-md-9 ui-fluid">
            <label>Nome:</label>
            <input pInputText type="text" name="nome"
              [(ngModel)]="empresa.nome"
              #nome="ngModel" required minlength="3">

              <div *ngIf="nome.hasError('required') && nome.touched">Informe um nome para empresa</div>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
              <label>Cidade:</label>
              <input pInputText type="text" name="cidade"
              [(ngModel)]="empresa.uf"
              #nome="ngModel" required minlength="3">

              <div *ngIf="nome.hasError('required') && nome.touched">Informe um nome para cidade</div>
            </div>


            <div class="ui-g-12 ui-md-9 ui-fluid">
            <label>Estado:</label>
            <p-dropdown [options]="estados" [(ngModel)]="empresa.estado" name="estado" placeholder="Selecione o estado" [filter]="true"></p-dropdown>

            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
            <label>Telefone:</label>
              <p-inputMask name="telefone" mask="(99)9999-9999" required minlength="10" [(ngModel)]="empresa.telefone"
              #nome="ngModel"></p-inputMask>
              <div *ngIf="nome.hasError('minlength')">o telefone deve ter 10 caracteres</div>
            </div>

          <div class="ui-g-12">
              <button pButton type="submit" label="Salvar" class=" boxButton"></button>

              <button pButton type="submit" label="Ir para tabela de empresas" class=" boxButton" routerLink="/empresas/table"></button>
          </div>

      </div>
  </form>
</div>
