<p-toast></p-toast>
<p-confirmDialog header="Confirmação" icon="pi pi-question-circle" acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>


<div class="container">
  <form autocomplete="off" (ngSubmit)="pesquisar()" >
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>
          Departamentos
        </h1>
      </div>
      <div class="ui-g-12 ui-fluid">
          <label>Pesquisa</label>
          <input pInputText type="text" name="descricao" [(ngModel)]="busca">
      </div>
      <div class="ui-g-12">
          <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </div>
  </form>
  <div class="ui-g">
      <div class="ui-g-12">
          <p-table [value]="departamentos" [paginator]="true" [rows]="3" [responsive]="true">
              <ng-template pTemplate="header" >
                  <tr>
                    <th>Departamentos</th>
                    <th>Gerente</th>
                    <th>Empresa</th>
                    <th class="col-acoes"></th>
                  </tr>
               </ng-template>

               <ng-template pTemplate="body" let-dep>
                  <tr>
                    <td>{{dep.nomedep}}</td>
                    <td>{{dep.nomeger}}</td>
                    <td>{{dep.empresa.id}}</td>
                    <td class="col-acoes">
                        <button pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" showDelay="1000"  class="ui-button-info" [routerLink]="['/departamentos', dep.id]"></button>
                        <button pButton icon="pi pi-trash"  pTooltip="Excluir" tooltipPosition="top" showDelay="1000" class="ui-button-danger" (click)="confirmarExclusao(dep)"></button>
                    </td>
                  </tr>
                </ng-template>

          </p-table>
      </div>

      <div class="ui-g-12">
          <a pButton label="Cadastrar novo Departamento" routerLink="/departamentos"></a>
      </div>

  </div>
</div>
